<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сторінка реєстрації</title>
</head>
<body>

<div style="display: flex; justify-content: space-between;">
    <div>
        <a style="font-weight: bold;">DevMarket</a>
    </div>
    <div>
        <form th:action="@{/auth/login}" th:method="GET">
            <input type="submit" value="Вхід"/>
        </form>
    </div>
</div>
<hr/>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="username">Введіть нік: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="password">Введіть пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="wallet_address">Введіть адрес гаманця: </label>
    <input type="text" th:field="*{walletAddress}" id="wallet_address"/>
    <div style="color: red" th:if="${#fields.hasErrors('walletAddress')}" th:errors="*{walletAddress}">Wallet address error</div>
    <br/>
    <input type="submit" value="Sign up"/>
</form>

</body>
</html>