<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукти</title>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
    <div>
        <a style="font-weight: bold;">DevMarket</a>
    </div>
    <div>
        <a href="/index">Головна</a>
        <a href="/product">Продукти</a>
        <a href="/profile">Профіль</a>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Вийти"/>
        </form>
    </div>
</div>
<hr/>

<div th:each="product : ${products}">
    <a th:href="@{/product/{id}(id=${product.getId()})}" th:text="${product.getName()}">product</a>
</div>

<form th:if="${role == 'ROLE_ADMIN'}" th:action="@{/product/new}" th:method="GET">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Створити продукт"/>
</form>

</body>
</html>