<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>

<div style="display: flex; justify-content: space-between;">
    <div>
        <a style="font-weight: bold;">DevMarket</a>
    </div>
    <div>
        <a href="/index">Головна</a>
        <a href="/product">Продукти</a>
        <a href="/profile">Профіль</a>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Вийти"/>
        </form>
    </div>
</div>
<hr/>

<div>
    <p th:text="'Привіт,' + ${username}"/>
</div>

</body>
</html>