<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<div style="display: flex; justify-content: space-between;">
    <div>
        <a style="font-weight: bold;">DevMarket</a>
    </div>
    <div>
        <a href="/index">Home page</a>
        <a href="/product">Products page</a>
        <a href="/profile">My profile</a>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>
<hr/>



<div>
    <p th:text="'Welcome,' + ${username}"/>
</div>

<div>
    <a href="product">View products</a>
</div>

<br/>

</body>
</html>