<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
    <div>
        <a style="font-weight: bold;">DevMarket</a>
    </div>
    <div>
        <a href="/index">Головна</a>
        <a href="/product">Продукти</a>
        <a href="/profile">Профіль</a>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Вийти"/>
        </form>
    </div>
</div>
<hr/>

<p th:text="'Ваш нік: '${person.getUsername()}">username</p>
<p th:text="'Ваш баланс: ' + ${balance} + ' Eth'">balance</p>

</body>
</html>